<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<integer>234</integer>
		<key>tags</key>
		<array>
			<dict>
				<key>ev_count</key>
				<integer>33</integer>
				<key>id</key>
				<integer>7278</integer>
				<key>img</key>
				<string>http://pic.huodongjia.com/event/2015-04-15/event115926.jpg</string>
				<key>name</key>
				<string>咖啡馆</string>
			</dict>
			<dict>
				<key>ev_count</key>
				<integer>23</integer>
				<key>id</key>
				<integer>7236</integer>
				<key>img</key>
				<string>http://pic.huodongjia.com/event/2015-08-22/event135584.jpg</string>
				<key>name</key>
				<string>餐吧</string>
			</dict>
			<dict>
				<key>ev_count</key>
				<integer>19</integer>
				<key>id</key>
				<integer>7182</integer>
				<key>img</key>
				<string>http://pic.huodongjia.com/event/2015-04-07/event114239.jpg</string>
				<key>name</key>
				<string>书吧</string>
			</dict>
			<dict>
				<key>ev_count</key>
				<integer>9</integer>
				<key>id</key>
				<integer>7294</integer>
				<key>img</key>
				<string>http://pic.huodongjia.com/event/2015-04-25/event119258.jpg</string>
				<key>name</key>
				<string>衣饰馆</string>
			</dict>
			<dict>
				<key>ev_count</key>
				<integer>8</integer>
				<key>id</key>
				<integer>7281</integer>
				<key>img</key>
				<string>http://pic.huodongjia.com/event/2015-08-14/event134854.jpg</string>
				<key>name</key>
				<string>生活馆</string>
			</dict>
			<dict>
				<key>ev_count</key>
				<integer>8</integer>
				<key>id</key>
				<integer>7283</integer>
				<key>img</key>
				<string>http://pic.huodongjia.com/event/2015-08-06/event133767.jpg</string>
				<key>name</key>
				<string>小酒馆</string>
			</dict>
			<dict>
				<key>ev_count</key>
				<integer>6</integer>
				<key>id</key>
				<integer>7310</integer>
				<key>img</key>
				<string>http://pic.huodongjia.com/event/2015-08-04/event133386.jpg</string>
				<key>name</key>
				<string>杂货铺</string>
			</dict>
			<dict>
				<key>ev_count</key>
				<integer>5</integer>
				<key>id</key>
				<integer>7303</integer>
				<key>img</key>
				<string>http://pic.huodongjia.com/event/2015-07-14/event131528.jpg</string>
				<key>name</key>
				<string>艺术空间</string>
			</dict>
			<dict>
				<key>ev_count</key>
				<integer>4</integer>
				<key>id</key>
				<integer>7304</integer>
				<key>img</key>
				<string>http://pic.huodongjia.com/event/2015-08-14/event134780.jpg</string>
				<key>name</key>
				<string>茶坊</string>
			</dict>
			<dict>
				<key>ev_count</key>
				<integer>4</integer>
				<key>id</key>
				<integer>7305</integer>
				<key>img</key>
				<string>http://pic.huodongjia.com/event/2015-06-27/event129353.jpg</string>
				<key>name</key>
				<string>家饰馆</string>
			</dict>
			<dict>
				<key>ev_count</key>
				<integer>3</integer>
				<key>id</key>
				<integer>7279</integer>
				<key>img</key>
				<string>http://pic.huodongjia.com/event/2015-07-08/event130454.jpg</string>
				<key>name</key>
				<string>花房</string>
			</dict>
			<dict>
				<key>ev_count</key>
				<integer>2</integer>
				<key>id</key>
				<integer>7328</integer>
				<key>img</key>
				<string>http://pic.huodongjia.com/event/2015-08-24/event135593.jpg</string>
				<key>name</key>
				<string>面包房</string>
			</dict>
		</array>
		<key>title</key>
		<string>闲时光 · 发现 · 惊喜</string>
	</dict>
	<dict>
		<key>ID</key>
		<integer>235</integer>
		<key>tags</key>
		<array>
			<dict>
				<key>ev_count</key>
				<integer>3</integer>
				<key>id</key>
				<integer>1339</integer>
				<key>img</key>
				<string>http://pic.huodongjia.com/event/2015-08-04/event133422.jpg</string>
				<key>name</key>
				<string>书画</string>
			</dict>
			<dict>
				<key>ev_count</key>
				<integer>2</integer>
				<key>id</key>
				<integer>5232</integer>
				<key>img</key>
				<string>http://pic.huodongjia.com/event/2015-01-24/event1422071176.58.jpg</string>
				<key>name</key>
				<string>赏味</string>
			</dict>
			<dict>
				<key>ev_count</key>
				<integer>2</integer>
				<key>id</key>
				<integer>5712</integer>
				<key>img</key>
				<string>http://pic.huodongjia.com/event/2015-03-06/event1425613741.4.jpg</string>
				<key>name</key>
				<string>烘焙</string>
			</dict>
		</array>
		<key>title</key>
		<string>涨知识 · 分享 · 丰盈</string>
	</dict>
</array>
</plist>
